@import './setting.scss';
@import '../theme.scss';

.theme-#{$theme-name} {
  .d2-theme-header {
    background: #fff;

    .logo-text {
      color: $theme-link-color;
    }
  }

  .d2-layout-header-aside-menu-side {
    background: #fff;
  }
}
